<h2>Edit recipe</h2>
<form #editRecipeForm *ngIf="allowedEdit" (submit)="editRecipe(); editRecipeForm.reset()">
  <mat-form-field class="name"><input matInput type="text" name="name" [(ngModel)]="recipe.name" placeholder="Title" required></mat-form-field>
  <br>
  <mat-form-field class="description">
    <textarea matInput matTextareaAutosize name="description" id="description" [(ngModel)]="recipe.description"
                             required placeholder="Description"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="instructions">
    <textarea matInput matTextareaAutosize name="instructions" id="instructions" [(ngModel)]="recipe.instructions"
                            required placeholder="Instructions"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="portions">
    <input matInput type="number" id="portions" name="portions" [(ngModel)]="recipe.portions" required placeholder="Portions">
  </mat-form-field>

  <br>
  <h4>Ingredients</h4>
  <form #ingredientForm="ngForm" (ngSubmit)="addIngredient(ingredientForm.value); ingredientForm.reset()">
    <mat-form-field><input matInput type="text" name="name" id="ingredientName" placeholder="Ingredient" ngModel>
    </mat-form-field>
    <mat-form-field><input matInput type="number" name="amount" id="amount" placeholder="Amount" ngModel>
    </mat-form-field>
    <mat-form-field><input matInput type="text" name="measurement" id="measurement" placeholder="Measurement" ngModel>
    </mat-form-field>
    <button mat-button type="submit">Add ingredient</button>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let ingredient of ingredients">
      {{ingredient.name}}, {{ingredient.amount}} {{ingredient.measurement}}
      <button mat-icon-button (click)="removeIngredient(ingredient)"><mat-icon>cancel</mat-icon></button>
    </mat-list-item>
  </mat-list>

  <h4>Tags</h4>
  <form #tagForm="ngForm" (ngSubmit)="addTag(tagForm.value); tagForm.reset()">
    <mat-form-field>
      <input matInput type="text" name="name" id="tag" placeholder="Tag" ngModel>
    </mat-form-field>
    <button mat-button type="submit">Add tag</button>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let tag of tags">
      {{tag.name}}
      <button mat-icon-button (click)="removeTag(tag)"><mat-icon>cancel</mat-icon></button>
    </mat-list-item>
  </mat-list>
  <br>
  <button mat-button type="submit">Post Recipe</button>
  <br>
  <button mat-button (click)="openConfirmDialog()">Delete Recipe</button>
</form>
<div *ngIf="!loggedIn">
  You must log in to edit recipes
  <a href="/login" mat-button>Login</a>
</div>
<div *ngIf="!allowedEdit">
  You are not allowed to edit this recipe
</div>
